<div class="app-container">
  <mat-toolbar color="primary" fxLayoutGap="18px" class="app-toolbar"
               [class.app-is-mobile]="media.isActive('xs')">
    <button *ngIf="displayAccountIcons"
            mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button routerLink="/home">
      <span class="mat-h2"> Care-Pay</span></a>
    <span class="flex-spacer"></span>
    <button *ngIf="displayAccountIcons"
            mat-mini-fab
            matTooltip="Profile"
            aria-label="User Profile">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button *ngIf="displayAccountIcons"
            mat-mini-fab
            routerLink="/logout"
            matTooltip="Logout"
            aria-label="Logout"
    >
      <mat-icon>lock_open</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="app-sidenav-container"
                         [style.marginTop.px]="media.isActive('xs') ? 56: 0">
    <mat-sidenav #sidenav [mode]="media.isActive('xs') ? 'over':'side'"
                 [fixedInViewport]="media.isActive('xs')" fixedTopGap="56">
      <app-side-nav-menu-component></app-side-nav-menu-component>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet class="app-container"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
